<main class="container">
  <h1>Personal projects</h1>
  <p>A recopilattion of personal projects usigngn rails</p>

  <div>
    <% if user_signed_in? %>
    <div>
      <%= link_to "View quotes", quotes_path, class: "btn btn--dark" %>
    </div>
    <div>
      <%= link_to "View tasks", tasks_path, class: "btn btn--dark" %>
    </div>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
    <% end %>
  </div>
</main>